h1 {
  position: absolute;
  font: sans-serif;
  font-weight: bold;
  color: white;
  width: auto;
  height: auto;
}

body {
  background-color: #213050;
}

.start-button {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: #fee864;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  border-radius: 50%;
}
#score {
  position: relative;
  margin: 0 auto;
  padding-bottom: 0;
  padding-left: 180px;
  text-align: left;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  -moz-text-shadow: 2px 2px 1px #248742;
  -webkit-text-shadow: 2px 4px 1px #248742;
  text-shadow: 2px 2px 1px #248742;
}

#CryptoC {
  flex: content;
  flex-direction: column;
  flex-wrap: wrap;
  -ms-flex-align: center;
  position: absolute;
  align-items: center;
  background-image: url("../images/container-cryptoManiac1.jpg");
  background-size: 100%;
  width: 600px;
  height: auto;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 220px;
  padding-bottom: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#CryptoC canvas {
  align-items: center;
  position: relative;
  margin-left: 0;
  padding: 0;
  width: 370px;
  border-radius: 10%;
}

h2 {
  color: black;
  padding-left: 60px;
  padding-right: 30px;
  background-color: #fee864;
  font-size: 16px;
  border-radius: 95%;
}
#instructions1 {
  position: relative;
  background-color: black;
  width: 450px;
  height: 70px;
  border-radius: 95%;
}
#instructions1 img {
  position: relative;
  align-items: center;
  width: 0px;
  height: 0px;
}
