@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

h1 {
  position: absolute;
  font: sans-serif;
  font-weight: bold;
  color: white;
  width: auto;
  height: auto;
}

body {
  background-color: #070f33;
  font-family: "Roboto", sans-serif;
}

#time-left {
  position: relative;
  left: -250px;
  top: -18px;
  margin: 0 auto;
  padding-bottom: 0;
  padding-left: 180px;
  text-align: left;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  -moz-text-shadow: 2px 2px 1px #fee864;
  -webkit-text-shadow: 2px 4px 1px#fee864;
  text-shadow: 2px 2px 1px #fee864;
  width: 60px;
  height: 50px;
}

.seconds {
  color: #fff;
}

#container {
  display: flex;
  align-content: flex-start;
}
#CryptoC {
  /* position: absolute; */
  /* z-index: -1; */
  /* left: 30%; */
  /* top: 20%;
  bottom: 20%; */
  display: block;
  background-image: url("../images/container-cryptoManiac1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  width: 600px;
  height: auto;
  border-radius: 25px;
  border: 2px solid #f8b500;
  padding: 20px;
}

canvas {
  position: relative;
  left: 0px;
  right: 20px;
  top: -20px;
  margin-left: 0;
  padding: 0;
  width: 370px;
  border-radius: 10%;
}

h2 {
  display: flex;
  color: black;
  background-color: #fee864;
  font-size: 14px;
}

aside {
  float: left;
  width: 14px;
}
#instructions1 {
  padding: 10px;
  margin-right: 10px;
  height: auto;
  color: white;
  background-color: black;
  width: 25%;
  height: 400px;
  border: 2px solid #f8b500;
  border-radius: 25px;
  font: sans-serif;
}

p {
  line-height: 25px;
}

#button {
  position: relative;
  text-align: center;
  left: 30px;
}

#button-restart {
  position: relative;
  left: 60px;
  text-align: center;
}

#coins-captured {
  position: relative;
  top: -285px;
  left: 470px;
  font: sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: black;
  width: 20px;
  -webkit-text-stroke: 0.4px white; /* width and color */
}

#mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: stretch; */
}

.keys {
  width: 100px;
  margin-left: 65px;
}

.pileMoney {
  width: 25px;
}
